<div style="text-align: center;" class="cstm-register-component">
  <h1 class="mat-display-3 cstm-font-weight-100">tenebrous</h1>
  <h6 class="mat-h1 cstm-font-weight-100">Sign up to see photos and videos from your friends.</h6>
  <form action="">
    <mat-form-field class="cstm-full-width">
      <input matInput placeholder="email" [formControl]="emailFormControl">
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        email is required
      </mat-error>
    </mat-form-field>
    <mat-form-field class="cstm-full-width">
      <input matInput placeholder="full name" [formControl]="fullnameFormControl">
      <mat-error *ngIf="fullnameFormControl.hasError('required')">
        fullname is required
      </mat-error>
    </mat-form-field>
    <mat-form-field class="cstm-full-width">
      <input matInput placeholder="Enter your password" [type]="showPassword ? 'text' : 'password'">
      <button
        mat-icon-button
        matSuffix
        (click)="showPassword = !showPassword"
        [attr.aria-label]="'Hide password'"
      >
        <mat-icon>{{ showPassword ? 'visibility_on' : 'visibility_off' }}</mat-icon>
      </button>
      <mat-error *ngIf="passwordFormControl.hasError('required')">
        password is required
      </mat-error>
    </mat-form-field>
    <mat-form-field class="cstm-full-width">
      <input matInput placeholder="confirm password" [type]="showPassword ? 'text' : 'password'">
      <button
        mat-icon-button
        matSuffix
        (click)="showPassword = !showPassword"
        [attr.aria-label]="'Hide password'"
      >
        <mat-icon>{{ showPassword ? 'visibility_on' : 'visibility_off' }}</mat-icon>
      </button>
      <mat-error *ngIf="confirmPasswordFormControl.hasError('required')">
          password is required
        </mat-error>
    </mat-form-field>
    <button mat-stroked-button color="primary">register</button>
  </form>
  <p>Have an account? <a href="#">login</a></p>
</div>
