<div style="text-align: center;" class="cstm-auth-component">
  <h1 class="mat-display-3 cstm-font-weight-100">tenebrous</h1>
  <h6 class="mat-h1 cstm-font-weight-100">Sign up to see photos and videos from your friends.</h6>
  <p *ngIf="errors.username" style="color: red;">{{ errors.username }}</p>
  <p *ngIf="errors.password" style="color: red;">{{ errors.password }}</p>
  <form action="" name="regForm" [formGroup]="registerForm" (ngSubmit)="onSubmit($event)">
    <mat-form-field class="cstm-full-width">
      <input matInput placeholder="email" formControlName="email">
      <mat-error *ngIf="registerForm.get('email').hasError('email') && !registerForm.get('email').hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="registerForm.get('email').hasError('required')">
        email is required
      </mat-error>
    </mat-form-field>
    <mat-form-field class="cstm-full-width">
      <input matInput placeholder="username" formControlName="username">
      <mat-error *ngIf="registerForm.get('username').hasError('required')">
        username is required
      </mat-error>
    </mat-form-field>
    <mat-form-field class="cstm-full-width">
      <input
        matInput
        placeholder="password"
        [type]="showPassword ? 'text' : 'password'"
        formControlName="password"
      >
      <button
        mat-icon-button
        matSuffix
        (click)="showPassword = !showPassword"
        [attr.aria-label]="'Hide password'"
        type="button"
      >
        <mat-icon>{{ showPassword ? 'visibility_on' : 'visibility_off' }}</mat-icon>
      </button>
      <mat-error *ngIf="registerForm.get('password').hasError('required')">
        password is required
      </mat-error>
    </mat-form-field>
    <button mat-stroked-button color="primary" type="submit" ng-disabled="regForm.$invalid">register</button>
  </form>
  <p>Have an account? <a [routerLink]="['/login']">login</a></p>
</div>
