.cstm-container {
  max-width: 614px;
  margin: 0px auto;
}

mat-card {
  height: 100%;
  width: 100%;
  mat-card-header {
    align-items: center;
    margin: 8px 0px;
  }
  img {
    margin-bottom: 0;
  }
  mat-card-actions {
    padding: 0;
  }
}

.avatar-div {
  background-image: url('/assets/images/siberian-husky-dog-breed-info.jpg');
  background-size: cover;
}

mat-grid-list {
  padding-bottom: 0 !important;
}

mat-card-content {
  form {
    display: flex;
    button {
      margin: auto 0px auto 2px;
    }
  }
}
