mat-toolbar {
  position: fixed;
  z-index: 1;
  mat-toolbar-row {
    max-width: 1010px;
    margin: 0px auto;
    a {
      text-decoration: none;
      color: white;
    }
    button {
      margin-right: 16px;
    }
  }
}
section {
  padding-top: 85px;
}

.cstm-flex-growth-inbetween {
  flex: 1 1 auto;
}
