<h2 mat-dialog-title>Upload Photo</h2>
<mat-dialog-content [formGroup]="photoForm">
  <img *ngIf="previewPhoto" [src]="previewPhoto" id="photo-preview">
  <input formControlName="image" type="file" accept="image/" (change)="onImageSelect($event)" required>
  <mat-form-field>
    <input matInput placeholder="caption" formControlName="caption" required>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="onSubmit($event)" [disabled]="isFormValid()">Upload</button>
</mat-dialog-actions>
